@use '../fonts';
@use '../colors' as *;

@mixin secondary {
    cursor: pointer;
    color: $color-blue;
    background-color: $color-pastel-blue;
    border: {
        style: solid;
        color: $color-blue;
        width: 2px;
    }
}

main.acceuilBackoffice {
    display: flex;
    flex-direction: column;
    
    img, button {
        user-select: none;
    }
    
    section {
        display: flex;
        flex-direction: column;
        color: $color-blue;
        width: 100%;
        
        h1 {
            user-select: none;
            font: {
                family: 'lora';
                
            }
        }
        
        article {
            width: 100%;
            overflow-x: auto; 
        }
        
        a {
            margin-top: 1em;
            align-self: flex-end;
            
            img {
                height: 25px;
            }
        }
        
        ul {
            list-style: none;
            padding: 0;
        }
        
        &.stock article {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
            width: 100%;
            gap: 2em;
            
            table {
                padding: 1em;
                border: solid 2px $color-blue;
                border-radius: 16px;
                font-family: 'open-sans';
                font-size: 20px;
                
                img {
                    height: 100px;
                }
                
                tr:nth-child(3) {
                    font: {
                        family: 'open-sans-bold';
                    }
                    display: flex;
                    align-items: center;
                    width: 100%;
                    
                    td:nth-child(2) {
                        margin-left: auto;
                        font-size: 30px;
                        
                        &.epuise {
                            color: $color-red;
                        }
                        &.faible {
                            color: $color-orange;
                        }
                    }
                }
            }
        }
        
        &.commandes article {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
            width: 100%;
            gap: 2em;
            font-family: 'open-sans';
            font-size: 20px;
            
            table {
                padding: 1em;
                border: {
                    style: solid;
                    width: 2px;
                    radius: 16px;
                    color: $color-blue;
                }
                
                img {
                    height: 100px;
                    width: 100px;
                    object-fit: cover;
                }
                
                th {
                    font-size: 20px;
                }
                
                tr:first-child th {
                    text-align: left;
                    line-height: 0.5em;
                }
                tr:nth-child(2) td {
                    vertical-align: top;
                }
                tr:last-child th {
                    text-align: right;
                }
            }
        }
        
&.avis article {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    table {
        width: 100%;
        border: 2px solid #ddd;
        border-collapse: collapse;
        background: white;
        border-radius: 8px;
        overflow: hidden;

        td {
            padding: 1rem;
            vertical-align: top;
        }

        tr:first-child td:first-child {
            width: 200px;
            background: #f8f8f8;

            figure {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.5rem;
                margin-bottom: 1rem;

                &:first-child {
                    img {
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    figcaption {
                        font-weight: 600;
                        color: #333;
                    }
                }

                &:last-child {
                    flex-direction: row;
                    align-items: center;
                    gap: 0.25rem;

                    figcaption {
                        font-size: 1.1rem;
                        font-weight: 700;
                        color: #f39c12;
                    }

                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }

        tr:first-child td:nth-child(2) {
            font-weight: 600;
            color: #2c3e50;
            font-size: 1.1rem;
        }

        tr:first-child td:nth-child(3) {
            text-align: right;
            color: #7f8c8d;
            font-size: 0.9rem;
        }

        tr:nth-child(2) td {
            color: #555;
            line-height: 1.6;
        }

        tr:last-child td:last-child {
            display: flex;
            gap: 0.5rem;
            flex-wrap: wrap;

            img {
                width: 80px;
                height: 80px;
                object-fit: cover;
                border-radius: 4px;
                border: 1px solid #ddd;
            }
        }
    }
}
        
        &.produits article {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
            max-width: 100%;
            gap: 2em;
            font-size: 20px;
            
            table {
                padding: 1em;
                border: {
                    style: solid;
                    width: 2px;
                    color: $color-blue;
                    radius: 16px;
                }
                
                img {
                    height: 100px; width: 100px;
                    object-fit: cover;
                }
                
                th {
                    text-align: left;
                }
                
                tr:last-child td {
                    font-family: 'open-sans';
                    
                    &:last-child {
                        text-align: right;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}