@use "../colors" as *;
@use "../fonts";

.avis-vendeur {
  h1 {
    font-size: 40px;
    font-family: "Lora", serif;
    font-weight: bold;
    color: $color-blue;
  }
}

.avi {
    border-collapse: separate;
    width: 100%;
    color: $color-blue;
    background-color: $color-pastel-purple;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px 0 25px 0;

    font: {
      size: 18px;
      family: "Lora", serif;
    }

    .col-gauche {
      width: 150px;
      padding: 0px;
      text-align: center;

      .profil-client {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        width: 240px;
        img {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          margin-bottom: 10px;
        }

        figcaption {
          margin-top: 0;
        }
      }
    }
    button {
            padding: 10px 20px;
            border: none;
            border-radius: 32px;
            cursor: pointer;
            margin-right: 30px;
        }

    .btnRepAvis{
            background-color: $color-blue;
            color: $color-white;
            width: 200px;

            &:hover {
                background-color: darken($color-blue, 10%);
            }
        }
    .repondreAvis{
      border-radius: 12px;
      display: flex;
      position:relative;
      left:400%;
      padding: 0;
    }

    .etoiles {
      margin: {
        top: 0;
        bottom: 0;
        left: 0;
        right: 20px;
      }
      color: $color-yellow;
      gap: 5px;
      display: flex;
    }

    .ligne {
      border-radius: 12px;
      display: flex;
      align-items: center;
      padding: 0;
    }

    .date-avis {
      font: {
        size: 12px;
        family: "Lora", sans-serif;
      }
    }
    form{
      display: flex;
      justify-content: end;
    }
  }



  .reponseAvis{
    display: flex;
    flex-direction: row;
    
    a{
      color: $color-red;
      position:relative;
      right:10px;
      margin-top:30px;  
    }
  }