@use "../colors" as *;
@use "../fonts";

.avis-vendeur {
  .avi {
    border-collapse: separate;
    width: 100%;
    color: $color-blue;
    font: {
      size: 18px;
      family: "Lora", serif;
    }

    .col-gauche {
      width: 150px;
      height: 300px;
      vertical-align: top;
      padding-top: 10px;
      text-align: center;
    }

    .etoiles {
      margin: {
        top: 0;
        bottom: 0;
        left: 0;
        right: 20px;
      }
      display: flex;
    }

    .ligne {
      border-radius: 12px;
      display: flex;
      align-items: center;
      padding: 0;
    }

    .date-avis {
      font: {
        size: 12px;
        family: "Lora", sans-serif;
      }
    }
  }
}
