@use "../colors" as *;
@use "../fonts";

.avis-vendeur {
  h1 {
    font-size: 40px;
    font-family: "Lora", serif;
    font-weight: bold;
    color: $color-blue;
  }

  article {
    background-color: red;
    border-radius: 20px;
  }
  .avi {
    border-collapse: separate;
    width: 100%;
    color: $color-blue;
    font: {
      size: 18px;
      family: "Lora", serif;
    }

    .col-gauche {
      width: 150px;
      height: 300px;
      padding-top: 0px;
      text-align: center;

      .profil-client {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100%;

        img {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          margin-bottom: 10px;
        }

        figcaption {
          margin-top: 0;
        }
      }
    }

    .etoiles {
      margin: {
        top: 0;
        bottom: 0;
        left: 0;
        right: 20px;
      }
      display: flex;
    }

    .ligne {
      border-radius: 12px;
      display: flex;
      align-items: center;
      padding: 0;
    }

    .date-avis {
      font: {
        size: 12px;
        family: "Lora", sans-serif;
      }
    }
  }
}
