@use "../colors" as *;
@use "../fonts" as *;

.connexionVendeur {
    position: relative; 
    background-color: $color-white;
    color: $color-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    padding: 20px;

    #error {
        text-align: center;
        width: 75%;
        background-color: $color-pastel-red;
        font-size: 15px;
        color: $color-red;
        font: {
            family: 'open-sans';
        }
        padding: 0.5em;
        border: {
            style: solid;
            width: 2px;
            color: $color-red;
            radius: 8px;
        }
    }

    .triskiel {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: auto;
        max-width: 100vw;
        max-height: 80vh;
        object-fit: cover;
        z-index: 0;
        pointer-events: none;
    }
    
    .pdp_title {
        position: relative;
        z-index: 1;        
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        text-align: center;

        h1 {
            font: {
                family: 'lora', serif; 
                size: 1.8rem;
                weight: bold;
            }
            color: $color-blue;
            margin-top: 10px;
        }
    }

    .information_connexion {
        position: relative;
        z-index: 1;
        width: 100%;
        max-width: 450px;

        .form-vendeur {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            .inputs-container {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-bottom: 20px;
                gap: 20px;
            }

            .custom-input {
                width: 100%;
                background-color: $color-white;
                border: 2px solid $color-blue;
                border-radius: 8px; 
                padding: 12px 15px;
                font-size: 1rem;
                font-weight: 600;
                color: $color-blue;
                box-sizing: border-box;

                &::placeholder {
                    color: $color-blue;
                    font-family: 'lora', serif; 
                    font-weight: 600;
                    font-style: italic; 
                    opacity: 0.7;
                }
            }

            .liens-utiles {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 10px 0 30px 0;
                gap: 8px;

                a {
                    text-decoration: underline;
                    font: {
                        size: 0.9rem;
                        weight: normal;
                        style: normal;
                    }    
                    cursor: pointer;
                    
                    :visited {
                        color: $color-blue !important;
                    }

                    :hover {
                        color: darken($color: $color-blue, $amount: 10%);
                    }
                }
            }

            .actions {
                width: 100%;
                display: flex;
                justify-content: center;

                .btn_connexion {
                    background-color: $color-pastel-purple;
                    color: $color-blue;
                    border: none;
                    border-radius: 24px;
                    padding: 12px 80px;
                    font-size: 1.1rem;
                    font-family: 'lora', serif;
                    font-weight: 600;
                    cursor: pointer;
                    
                    &:disabled {
                        cursor: not-allowed;
                        opacity: 0.8;
                    }
                }
            }
        }
    }

    .text-footer {
        position: relative;
        z-index: 1;
        max-width: 800px;
        text-align: center;
        font-size: 0.7rem;
        color: $color-dark-gray;
        margin-top: 50px;
        padding: 0 20px;
        line-height: 1.4;
    }
}