@use "../colors" as *;
@use "../fonts" as *;
// Mixin pour les transitions fluides
@mixin transition($property: all, $duration: 0.3s) {
    transition: $property $duration ease-in-out;
}

.CreerCompteVendeur {
    background-color: $color-white;
    color: $color-blue;
    min-height: 100vh;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: initial;
    position: relative;
    overflow-x: hidden;
    z-index: 1;

    h1 {
        margin-top: 10px;
        margin-bottom: 30px;
        text-align: left;
        font-weight: 600;
        margin-left: 30px;
    }

    .triskiel{
        position: absolute;
        top: 0;
        right: 0;
        width: 1100px;
        height: 100%;
        object-fit: cover;
        z-index: 0;
        pointer-events: none;
    }

    .haut_de_page{
        width: 100%;
        max-width: 900px;
        padding: 0 20px;
        margin-top: 50px;
        margin-bottom: 30px;
        
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    > img[alt="photo de profil"]{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .container{
        width: 100%;
        max-width: 900px; 
        padding: 0 5px;
        margin-left: auto;
        margin-right: auto;

        .form-vendeur{
            display: flex;
            flex-direction: column;

            .form-group{
                display: flex;
                gap: 10px;
                margin-bottom: 10px;

                input[type="text"],input[type="email"],input[type="password"],input[type="date"]{
                    flex: 1;
                    padding: 10px 15px;
                    border: 2px solid $color-blue;
                    border-radius: 8px;
                    font-size: 1rem;
                    color: $color-blue;
                    max-width: 32%;

                    &::placeholder {
                        color: $color-dark-gray;
                    }

                    input[type="password"] { 
                        border-color: $color-red; 
                    }
                }
            }
        }
        
    }
}
