@use '../fonts';
@use '../colors' as *;

main.commandesBackoffice dialog {
    padding-top: 0;
    transition: all 0.2s ease;
    border-radius: 16px;
    border: none;
    color: $color-blue;
    font-family: 'open-sans';
    align-items: center;
    max-width: fit-content;
    
    &::backdrop {
        background: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(1px);
    }
    
    h2 {
        justify-self: center;
    }
    
    table:not(ul li table) {
        max-width: min(75vw, 500px);
        width: auto;
        padding-top: 1em;
        td {
            text-align: left;
            font-weight: bold;
            font-size: 20px;
            
            &:last-child {
                width: 1%;
                white-space: nowrap;
            }
        }
    }
    
    ul {
        display: flex;
        max-width: 100%;
        white-space: nowrap;
        overflow-x: auto;
        scrollbar-width: none;
        gap: 1em;
        list-style: none;
        margin: 0;
        padding: 0;
        
        li {
            table {
                width: 250px;
                table-layout: fixed;
                border-spacing: 0;
                outline: 2px solid $color-black;
                outline-offset: -2px;
                margin: 0;
                border-radius: 16px;
                
                tr {
                    padding: 0;
                    margin: 0;
                }
                td {
                    padding: 0;
                    margin: 0;
                    text-wrap: wrap;
                }
                
                img {
                    margin: 0; padding: 0;
                    height: 200px;
                    width: 250px;
                    object-fit: cover;
                    border-top-left-radius: 16px;
                    border-top-right-radius: 16px;
                }
                
                font-weight: bold;
                font-size: 15px;
                
                tr:nth-child(2), tr:nth-child(3) {
                    td {
                        padding-left: 0.5em;
                        padding-right: 0.5em;
                        padding-bottom: 0.5em;
                        word-wrap: break-word;
                        
                        &:last-child {
                            text-align: right;
                            font-size: 25px;
                            font-weight: bold;
                        }
                    }
                }
                
                tr:last-child {
                    font-size: 25px;
                }
            }
        }
    }
    
    &:focus {
        outline: none;
    }
}