@use "../colors" as *;
@use "../fonts";

.repondreAvis{
    .avi{
        margin-top:30px;
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        label{
            margin:30px;
        }

        textarea{
            width: 100%;
        }
        button {
            padding: 10px 20px;
            border: none;
            border-radius: 32px;
            cursor: pointer;
            margin-top:30px;
            align-self: flex-end;
        }

        .buttonValider{
            background-color: $color-blue;
            color: $color-white;
            width: 200px;

            &:hover {
                background-color: darken($color-blue, 10%);
            }
        }
    }   
}