@use '../fonts';
@use '../colors' as *;

.popUpInfoCalcul{  
    width: 330px;
    font-family: 'lora';
    background-color: $color-white;
    border-radius:16px;
    position: relative;

    .croixFermerLaPage {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    .croixFermerLaPage div {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 3px;
        background-color: #BABABA;
    }
    .croixFermerLaPage div:first-of-type {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    .croixFermerLaPage div:last-of-type {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    h1{
        color: $color-blue;
        font-size: 20px;
    }

    h2{
        font-size: 15px;
    }

    p{
        color: $color-blue;
        font-size: 12px;
    }
}