@use '../fonts';
@use '../colors' as *;

.backoffice{
    .previsualisation{
        display: flex;
    }
    .textePrevi{
        display: flex;
        flex-direction: column;
    }
    .boutonRetour{
        display: flex;
        padding: 10px;
        background-color: $color-blue;  
    }
    .ligne{
        border-top: solid 2px red ;
    }
}