@use '../fonts';
@use '../colors' as *;

.overlayPopUpErreur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popUpErreur {
    background-color: $color-white;
    border-radius: 16px;
    position: relative;
    width: 400px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);

    .croixFermerLaPage {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        width: 30px;
        height: 30px;

        div {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 20px; 
            height: 3px;
            background-color: #BABABA;
        }
        div:first-of-type {
            transform: translate(-50%, -50%) rotate(45deg);
        }
        div:last-of-type {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }

    h1 {
        color: $color-blue;
        font-family: 'lora', serif;
        font-size: 28px; 
        text-align: center;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .icon-warning {
        font-size: 40px;
        color: $color-blue;
        margin-bottom: 15px;
    }

    p {
        font-family: 'lora', sans-serif; 
        color: $color-dark-gray;
        text-align: center;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 30px;
    }

    button {
        border: 0;
        background-color: $color-blue;
        padding: 12px 40px;
        color: white;
        border-radius: 32px;
        font-family: 'lora', serif;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            opacity: 0.9;
        }
    }
}
