@use '../fonts';
@use '../colors' as *;

.pageProduit{


    .previsualisation{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .textePrevi{
        display: flex;
        flex-direction: column;
        h1 {
            color: red;
            font-size: 24px;
        }
    }
    .boutonRetour{
        display: flex;
        justify-content: center;
        padding: 10px;
        background-color: $color-blue;  
        border-radius: 16px;
        width: 200px;
        button{
            background-color: transparent;
            text-decoration: none;
            border:0;
            font-size: 24px;
            color: $color-white;
        }
    }
    .lignePrevi{
        border-top: solid 4px red ;
    }
}