@use "colors" as *;
@use "fonts" as *;
@use "./frontoffice/styleTemplate";
@use "./frontoffice/styleLegales";
@use "./frontoffice/style404";
@use "./backoffice/header";
<<<<<<< HEAD
@use "./backoffice/CreerCompteVendeur";
=======
@use "./backoffice/footer";
>>>>>>> origin/footerBackoffice
