@use "colors" as *;
@use "fonts" as *;
@use "./frontoffice/styleTemplate";
@use "./frontoffice/styleLegales";
@use "./frontoffice/style404";
@use "./frontoffice/commandes";
@use "./backoffice/header";
@use "./frontoffice/pageConnexionCLient";
@use "./backoffice/footer";
@use "./backoffice/aside";
@use "./backoffice/structure";
@use "./backoffice/acceuil";
@use "./backoffice/produits";
@use "./frontoffice/inscription";
@use "./frontoffice/stylePaiement";
@use "./frontoffice/styleCompteClient";
@use "./frontoffice/styleAcceuilConnecte";
@use "./frontoffice/stylePopUpCompteClient";
@use "./frontoffice/stylePanier";
@use "./backoffice/retourEnHaut";
@use "./frontoffice/styleEcrireCommentaire";
@use "./backoffice/modifierProduit";
@use "./backoffice/ajouterProduit";
@use "./backoffice/CreerCompteVendeur";
@use "./backoffice/stylepopUpPromouvoir";
@use "./backoffice/stylePopUpInfoCalcul";
@use "./backoffice/stylePopUpRemise";
@use "./backoffice/stocks";
@use "./backoffice/compteVendeur";
@use "./frontoffice/produit";
@use "./backoffice/connexionVendeur";
@use "./backoffice/_stylepopUpErreur"; 
@use "./backoffice/stylePrevisualisation";
@use "./backoffice/avisVendeur";
@use "./frontoffice/mesAvis";
@use "./frontoffice/modifierAvis";
@use "./frontoffice/styleCatalogue";
@use "./frontoffice/stylepopUpDetailsCommande";
@use "./frontoffice/notifications";
@use "./backoffice/commandesBack";
@use "./backoffice/dialog.scss";
@use "./backoffice/repondreAvis";