@use "colors" as *;
@use "fonts" as *;
@use "./frontoffice/styleTemplate";
@use "./frontoffice/styleLegales";
@use "./frontoffice/style404";
@use "./backoffice/header";
<<<<<<< HEAD
@use './frontoffice/styleCompteClient';
@use './frontoffice/stylePopUpCompteClient';
=======
@use "./frontoffice/inscription";
@use "./backoffice/footer";
@use "./backoffice/aside";
@use "./backoffice/structure";
@use './backoffice/acceuil';
>>>>>>> main
