/* Error: Undefined variable.
 *     ,
 * 102 |     color: $color-white;
 *     |            ^^^^^^^^^^^^
 *     '
 *   views\styles\frontoffice\_styleCatalogue.scss 102:12  @use
 *   views\styles\main.scss 37:1                           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 102 \2502      color: $color-white;\d\a     \2502             ^^^^^^^^^^^^\a     \2575 \a   views\\styles\\frontoffice\\_styleCatalogue.scss 102:12  @use\a   views\\styles\\main.scss 37:1                           root stylesheet";
}
