/* Error: expected "}".
 *     ,
 * 141 | }
 *     |  ^
 *     '
 *   views\styles\backoffice\_connexionVendeur.scss 141:2  @use
 *   views\styles\main.scss 31:1                           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "}".\a     \2577 \a 141 \2502  }\a     \2502   ^\a     \2575 \a   views\\styles\\backoffice\\_connexionVendeur.scss 141:2  @use\a   views\\styles\\main.scss 31:1                           root stylesheet';
}
