@use "../colors" as *;
@use "../fonts" as *;

.listeDeSouhait {
    font-family: "Lora", serif;
    color: #273469;

    main {
        padding: 10px 40px;
    }

    .ensembleProduits {
        column-count: 2;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .coeur {
        height: 40px;
    }
    
    .produit {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border: 2px solid #273469;
        border-radius: 20px;
        width: 650px;
        padding: 15px 10px;
        margin: 25px;
        height: 170px;
        overflow: auto;
        h1, h3, p {
            margin: 0;
        }
        img {
            width: 200px;
            object-fit: cover;
            margin-right: 20px;
            border-radius: 20px;
        }
        .info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2 {
                margin: 0;
            }
        }
    }
    main .titre {
        font-size: 48px;
    }
    .descProd {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 150px;
    }
}