@use "../colors" as *;
@use "../fonts" as *;

.modifierAvis{
    main{
        h2{
            margin-top:30px ;
            font-family: "lora";
            color:$color-blue;
            text-align: center;
        }

        p, label{
            font-family: "lora";
            font-size: 20px;
            color:$color-blue;
        }
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;
            margin-left:10%;
            font: {
                size: 16px;
                weight: bold;
            }
            input, textarea{
                width: 80%;
                padding: 5px;
                margin-right: 10%;
                height: 50px;
                margin-bottom: 30px;
                color: #6e6e6e;
                font-family: "lora";
                font-size: 16px;
                border: 2px solid $color-blue;
                border-radius: 8px;
            }
            textarea {    
                height: 300px;
            }
            .star {
                width: 65px;
                height: 65px;
                gap: 4px
        }
    }
    .placeholder-photo {
        position: relative;
        display: block;
        width: 250px;
        height: 250px;
        cursor: pointer;
    }

    #imagePreview {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    #placeholderText,
    #overlayText {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0,0,0,0.4);
        color: white;
        font-weight: bold;
        text-align: center;
        pointer-events: none;
    }

}


#publishButton{
    width: 80%;
    padding: 5px;
    margin-right: 10%;
    height: 50px;
    margin-bottom: 30px;
    font-size: 16px;
    background-color: $color-blue;
    border-radius: 8px;
    border: none;
    color: $color-white;
}
}