@use "../colors" as *;
@use "../fonts" as fonts;

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.mesNotif {
    font-family: "Lora", serif;
    color: #273469;

    .topRecherche {
        display: flex;
        align-content: center;
        align-items: flex-start;
        margin-top: 20px;
        flex-direction: column;
        margin-top: 20px;
        h1 {
            margin-top: 30px;
            margin-bottom: 0px;
            margin-right: 10px;
            font-size: 48px;
        }
        
        * {
            margin-left: 80px;
            margin-right: 80px;
        }
    }
    
    .ensembleNotif {
        display: flex;
        flex-direction: row;
        border: 1px solid #273469;
        border-radius: 25px;
        margin: 30px 50px;
        max-height: 483px;
        min-height: 483px;
        overflow: hidden;
        
        .sidebarNotif {
            overflow: scroll;
            overflow-x: auto;
            scrollbar-width: thin;
            width: 1000px;
            background-color: #e4e4e4;
        }
    }
    .apercuNotif {
        display: flex;
        align-items: center;
        background-color: #e3f2fe;
        color: #273469;
        border: 1px solid #273469;
        padding: 10px 5px;
        
        img {
            height: 40px;
            padding: 20px;
        }
            
        #focus {
            display: none;
            visibility: hidden;
        }
        #regular {
            display: block;
            visibility: visible;
        }
        
        &:focus {
                background-color: #273469;
                color: #e3f2fe;
                outline: none;
                #focus {
                    display: block;
                    visibility: visible;
                }
                #regular {
                    display: none;
                    visibility: hidden;
                }
                h5 {
                    color: #e3f2fe; 
                }
            }
        cursor: pointer;
        * {
            margin: 0;
        }
        h4, h5 {
            font-weight: 400;
            padding: 4px 0px;;
        }
        h5 {
            color: black;
        }
    }
    .apercuNotif:hover img {
        animation: tilt-shaking 0.25s 4;
    }
    .ecranNotif {
        width: 150%;
        h3 {            
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .contenuNotif {
            margin: 20px;    
            color: black;
        }
        .titleNotif {
            border-bottom: 1px solid black;
            padding: 0px 30px;
            font-size: medium;
            h1 {
                margin-bottom: 0;
            }
            h3 {
                margin-bottom: 21px;
            }
        }
    }

    .contenuTel {
        display: none;
        visibility: hidden;
    }

    .aucuneNotif {
        margin-left: 150px;
        margin-top: 30px;
        margin-bottom: 510px;
    }

    @media (max-width: 1100px) {
        .ensembleNotif {
            max-height: 680px;
            min-height: 680px;
        }
    }
    @media (max-width: 840px) {
        .ecranNotif {
            display: none;
            visibility: hidden;
        }
        h1 {
            margin: 0;
        }
        .topRecherche {
            display: flex;
            align-items: center;
        }
        .topRecherche h1 {
            margin: 0;
        }
        .ensembleNotif {
            min-height: fit-content;
            max-height: fit-content;
            border-radius: 0;
        }
        .sidebarNotif {
            width: 100% !important;
        }
        .contenuTel.active {
            display: block;
            visibility: visible;
            background-color: white;
            padding: 20px;
            border-bottom: 2px solid #273469;
            animation: fadeIn 0.3s ease-in;
        }
        .aucuneNotif {
            margin-left: 30px;
            margin-bottom: 490px;
        }
    }
    
}