@use "../colors" as *;
@use "../fonts" as fonts;

.mesNotif {
    font-family: "Lora", serif;
    color: #273469;

    .topRecherche {
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: flex-end;
        margin-top: 20px;
        h1 {
            margin-top: 30px;
            margin-bottom: 0px;
            margin-right: 10px;
            font-size: 48px;
        }
        
        * {
            margin-left: 80px;
            margin-right: 80px;
        }
    }
    
    .ensembleNotif {
        display: flex;
        flex-direction: row;
        border: 1px solid #273469;
        border-radius: 25px;
        margin: 30px 50px;
    }
    .apercuNotif {
        display: flex;
        align-items: center;
        background-color: #e3f2fe;
        color: #273469;
        border: 1px solid #273469;
        padding: 10px 5px;
        * {
            margin: 0;
        }
        h4, h5 {
            font-weight: 400;
            padding: 4px 0px;;
        }
        h5 {
            color: black;
        }
    }
    .ecranNotif {
        width: 150%;
        h3 {            
            border-bottom: 1px solid black;
            color: black;
            font-size: medium;
        }
    }
}