.pageCatalogue{
    display:flex;
    flex-direction: row;
    

    .filter-sort{
        background-color: #e4d9ff;
        width: 22%;
        position: relative;
        left: 0;
    }

    .filter-sort form{
        display: flex;
        flex-direction: column;
        padding: 1em;
    } 

    .products-section{
        width: 78%;
        display: flex;
        flex-direction: column;
    }

    .product-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .product-item{
        border: 2px solid #273469;
        margin-top: 5px;
        border-radius: 20px;
        margin: 0px 40px;
        padding: 10px;
        min-width: 296px;
        max-width: 296px;
        max-height: 310px;
        min-height: 310px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

    .product-item img{
        max-width: 267px;
        max-height: 168px;
        object-fit: contain;
        border-radius: 20px;
    }

    .product-item h2{
        color: #273469;
        font-size: 20px;
        font-family: "Open-sans", serif;
        font-weight: lighter;
    }

    .product-item h2,p,h3{
        font-size: 1.2em;
        margin: 0;
    }

    #resultat{
        background: #E3F2FE;
        position: relative;
    }

    .products-section {
        width: 78%;
    }

    .listeArticle {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(276px, 1fr));
        gap: 30px;
        width: 100%;
    }

    .listeArticle article {
        border: 2px solid #273469;
        border-radius: 20px;
        margin: 10px;
        padding: 10px;
        min-width: 276px;
        max-width: 276px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

    .listeArticle article h2 {
        color: #273469;
        font-size: 20px;
        font-family: "Open-sans", serif;
        font-weight: 500;
        margin-top: 10px;
        margin-bottom: 0;
    }

    .listeArticle article .imgProduit {
        max-width: 267px;
        max-height: 168px;
        object-fit: contain;
        border-radius: 20px;
    }

    .notation {
        display: flex;
        align-items: center;
        gap: 5px;
        margin: 5px 0;
    }

    .notation .etoile {
        width: 20px;
        height: 20px;
    }

    .notation span {
        color: #273469;
        font-family: "Lora", serif;
        font-size: 18px;
        font-weight: bold;
    }

    .infoProd {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
    }

    .prix h2 {
        color: #273469;
        font-size: 32px;
        font-family: "Lora", serif;
        font-weight: bold;
        margin: 0;
    }

    .prix h3 {
        color: #000000;
        font-size: 12px;
        font-family: "Lora", serif;
        font-weight: bold;
        font-style: italic;
        margin: 0;
    }

    .prix h4 {
        color: #273469;
        font-size: 14px;
        font-family: "Open-sans", serif;
        margin: 0;
    }

    .infoProd button {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slider-wrapper {
        position: relative;
        height: 15px;
        width: 260px;
    }

    .values {
        display: flex;
        gap: 50px;
    }

    .slider-track {
        position: absolute;
        top: 25px;
        width: 100%;
        height: 15px;
        background: #ddd;
        border-radius: 16px;
    }

    .slider-range {
        position: absolute;
        top: 25px;
        height: 15px;
        background: #273469;
        border-radius: 16px;
    }

    input[type="range"] {
        position: absolute;
        width: 100%;
        background: transparent;
        -webkit-appearance: none;
        pointer-events: none;
        top: 25px;
        height: 15px;
        padding: 0;
        margin: 0;
    }

    input[type="range"]::-webkit-slider-thumb {
        pointer-events: all;
        -webkit-appearance: none;
        cursor: pointer;
        width: 20px;
        height: 40px;
        background: white;
        border-radius: 8px;
        border-width: 5px;
        border-style: solid;
        border-color: #273469;
    }

    input[type="range"]::-moz-range-thumb {
        pointer-events: all;
        cursor: pointer;
        width: 7px;
        height: 7px;
        background: white;
        border-radius: 50%;
        border: 8px outset;
        border-color: #273469;
    }
}