@use "../colors" as *;
@use "../fonts" as *;

.pageCatalogue{
    display:flex;
    flex-direction: row;
    background-color: $color-white;


    .filter-sort{
        background-color: #e4d9ff;
        width: 240px; /* Largeur fixe au lieu de 22% */
        height: 100vh;
        position: fixed;
        left: 0;
        z-index: 800;
        padding: 20px;
    }

    .filter-sort form{
        display: flex;
        flex-direction: column;
        gap: 15px;
    } 

    .filter-sort form article{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .filter-sort form article div{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .filter-sort form label{
        font-weight: bold;
        filter: invert(0);
    }

    .products-section{
        width: calc(100% - 280px);
        display: flex;
        flex-direction: column;
        margin-left: 280px;
        overflow-x: hidden;
    }

    .product-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #resultat{
        background: #E3F2FE;
        position: sticky;
        padding: 0.3em;
        font-size: 13px;
        font-weight: 500;
        margin: 0;
    }

    .listeArticle {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
        gap: 10px;
        width: 100%;
    }

    .listeArticle article {
        position: relative;
        border: 2px solid #273469;
        border-radius: 20px;
        margin: 10px;
        padding: 10px;
        min-width: 220px;
        max-width: 220px;
        min-height: 250px;
        max-height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

    .bannierePromo {
        display: block;
        position: absolute;
        top: -4px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        z-index: 5;
    }

    .bannierePromo h1 {
        font-size: 30px;
    }

    .imgBanniere {
        position: absolute;
        height: 75px;
        width: auto;
        z-index: 5;
    }

    .bannierePromo h1 {
        position: absolute;
        font-size: 16px;
        top: 25px;
        left: 8px;
        color: $color-white;
        z-index: 100;
        margin: 0;
        padding: 0;
    }

    .poly1 {
        position: absolute;
        top: 15px;
        left: 6px;
        width: 40px;
        transform: scaleY(2);
        z-index: 1000;
    }

    .poly2 {
        position: absolute;
        top: 50px;
        left: 6px;
        width: 40px;
        transform: scaleY(2);
        z-index: 100;
    }

    .tempsRestant {
        position: absolute;
        top: -9.5px;
        right: -5px;
        background-color: $color-white;
        color: $color-blue;
        padding: 3px 3px;
        z-index: 2;
        font-size: 12px;
    }  

    #promoTexte{
        color: white;
        font-weight: bold;
        background-color: #f14e4e;
        border-radius: 5px;
        padding: 0 2px;
        margin: 0;
        font-size: 14px;
    }

    .nomEtPromo{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

    .listeArticle article h2 {
        color: #273469;
        font-size: 16px;
        font-family: "Open-sans", serif;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 0;
    }

    .listeArticle article .imgProduit {
        max-width: 220px;
        max-height: 120px;
        object-fit: contain;
        border-radius: 20px;
        z-index: 3;
    }

    .notation {
        display: flex;
        align-items: center;
        gap: 5px;
        margin: 5px 0;
    }

    .star{
        width: 40px;
        height: 40px;
    }

    .notation .etoile {
        width: 20px;
        height: 20px;
    }

    .notation span {
        color: #273469;
        font-family: "Lora", serif;
        font-size: 18px;
        font-weight: bold;
    }

    .infoProd {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
    }

    .prix h2 {
        color: #273469;
        font-size: 32px;
        font-family: "Lora", serif;
        font-weight: bold;
        margin: 0;
    }

    .nomProduit h2{
        color: #273469;
        font-size: 32px;
        font-family: "Lora", serif;
        font-weight: bold;
        margin: 0;
    }

    .prix h3 {
        color: #000000;
        font-size: 12px;
        font-family: "Lora", serif;
        font-weight: bold;
        font-style: italic;
        margin: 0;
    }

    .prix h4 {
        color: #273469;
        font-size: 14px;
        font-family: "Open-sans", serif;
        margin: 0;
    }

    .infoProd button {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slider-wrapper {
        position: relative;
        height: 15px;
        width: 100%;
    }

    .values {
        display: flex;
        justify-content: space-between;
    }

    .slider-track {
        top: 10px;
        position: absolute;
        width: 100%;
        height: 15px;
        background: #ddd;
        border-radius: 16px;
    }

    .slider-range {
        top: 10px;
        position: absolute;
        height: 15px;
        background: #273469;
        border-radius: 16px;
    }

    input[type="range"] {
        top: 10px;
        position: absolute;
        width: 100%;
        background: transparent;
        -webkit-appearance: none;
        pointer-events: none;
        height: 15px;
        padding: 0;
        margin: 0;
    }

    input[type="range"]::-webkit-slider-thumb {
        pointer-events: all;
        -webkit-appearance: none;
        cursor: pointer;
        width: 20px;
        height: 20px;
        background: white;
        border-radius: 16px;
        border-width: 8px;
        border-style: solid;
        border-color: #273469;
    }

    input[type="range"]::-moz-range-thumb {
        pointer-events: all;
        cursor: pointer;
        width: 20px;
        height: 20px;
        background: white;
        border-radius: 16px;
        border-width: 4px;
        border-style: solid;
        border-color: #273469;
    }

    #minNoteLabel {
        margin-top: 1.5em;
    }

    .pagination {
        margin: 20px 0;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .pagination a{
        border: 2px solid black;
        text-decoration: none;
    }

    .btnToggleFilters {
        display: none;
    }

    /** Media Queries */

    @media (max-width: 1024px) {
        .filter-sort {
            width: 200px;
            padding: 10px;
        }
        
        .products-section {
            width: calc(100% - 220px);
            margin-left: 220px;
        }

        .star{
            width: 33px;
            height: 33px;
        }

        .notation {
            gap: 3px;
            margin: 3px 0;
        }

        // Réduction des cartes
        .listeArticle {
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        }

        .listeArticle article {
            min-width: 180px;
            max-width: 180px;
            min-height: 220px;
            max-height: 220px;
        }

        .listeArticle article .imgProduit {
            max-width: 180px;
            max-height: 100px;
        }

        .listeArticle article h2 {
            font-size: 14px;
        }

        .prix h2 {
            font-size: 28px;
        }

        .prix h3 {
            font-size: 11px;
        }

        .prix h4 {
            font-size: 12px;
        }

        .notation span {
            font-size: 16px;
        }

        .notation .etoile {
            width: 18px;
            height: 18px;
        }
    }

    @media (max-width: 768px) {
        .filter-sort {
            width: 190px;
            padding: 5px;
        }
        
        .products-section {
            width: calc(100% - 200px);
            margin-left: 200px;
        }

        .star{
            width: 30px;
            height: 30px;
        }

        .notation {
            gap: 1px;
            margin: 1px 0;
        }
    }

@media (max-width: 620px) {
    .btnToggleFilters {
        display: flex;
        align-items: center;
        gap: 8px;
        position: fixed;
        z-index: 1100;
        color: #273469;
        border: none;
        background-color: $color-white;
        padding: 10px 15px;
        font-size: 14px;
        font-weight: bold;
        top: 215px;
        width: 20%;
    }

    .btnToggleFilters img {
        width: 20px;
        height: 20px;
    }

    #resultat {
        margin-bottom: 0;
    }

    .filter-sort {
        width: 100%;
        padding: 15px;
        font-size: 14px;
        left: -530px;
        transition: left 0.3s ease;
        box-shadow: 2px 0 10px rgba(0,0,0,0.3);
        z-index: 1000;
    }

    .filter-sort form{
        margin-top: 50px;
    }

    .filter-sort form label{
        margin-top: 0.3em;
    }

    .filter-sort.active {
        left: 0;
    }
    
    .products-section {
        width: 100%;
        margin-left: 0;
    }

    .listeArticle {
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
        gap: 5px;
        position: relative;
        top: 50px;
    }

    .listeArticle article {
        min-width: 100px;
        max-width: 100px;
        min-height: 130px;
        max-height: 130px;
        margin: 5px;
        padding: 8px;
        border-radius: 16px;
    }

    .listeArticle article .imgProduit {
        max-width: 100px;
        max-height: 60px;
        border-radius: 8px;
    }

    .listeArticle article h2 {
        font-size: 10px;
    }

    .prix h2 {
        font-size: 18px;
    }

    .prix h3 {
        font-size: 8px;
    }

    .prix h4 {
        font-size: 8px;
    }

    .notation span {
        font-size: 12px;
    }

    .notation .etoile {
        width: 14px;
        height: 14px;
    }

    #promoTexte {
        font-size: 9px;
        padding: 0 1px;
        border-radius: 4px;
    }

    .bannierePromo h1 {
        font-size: 10px;
        top: 22px;
        left: 6px;
    }

    .imgBanniere {
        height: 56px;
    }

    .tempsRestant {
        font-size: 7px;
        padding: 2px;
    }

    .infoProd button img {
        width: 35px;
        height: 35px;
    }

    .notation span{
        font-size: 10px;
    }

    .star {
        width: 20px;
        height: 20px;
    }

    .imgProduit {
        border-radius: 4px;  
    }  

    .infoProd button img {
        width: 10px;
        height: 10px;
    }
}
}