.pageCatalogue{
    display:flex;
    flex-direction: row;
    

    .filter-sort{
        background-color: #e4d9ff;
        width: 22%;
        height: 100vh;
        position: fixed;
        left: 0;
        z-index: 1000; /* pour rester au-dessus */

    }

    .filter-sort form{
        display: flex;
        flex-direction: column;
        padding: 1em;
    } 

    .products-section{
        width: 78%;
        display: flex;
        flex-direction: column;
        padding-left: 22%;
        overflow-x: hidden;
    }

    .product-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }


    #resultat{
        background: #E3F2FE;
        position: sticky;
        padding: 0.3em;
        font-size: 13px;
        font-weight: 500;
    }

    .products-section {
        width: 78%;
    }

    .listeArticle {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
        gap: 10px;
        width: 100%;
    }

    .listeArticle article {
        border: 2px solid #273469;
        border-radius: 20px;
        margin: 10px;
        padding: 10px;
        min-width: 220px;
        max-width: 220px;
        min-height: 250px;
        max-height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

    .listeArticle article h2 {
        color: #273469;
        font-size: 20px;
        font-family: "Open-sans", serif;
        font-weight: 500;
        margin-top: 10px;
        margin-bottom: 0;
    }

    .listeArticle article .imgProduit {
        max-width: 220px;
        max-height: 120px;
        object-fit: contain;
        border-radius: 20px;
    }

    .notation {
        display: flex;
        align-items: center;
        gap: 5px;
        margin: 5px 0;
    }

    .star{
        width: 50px;
        height: 50px;
    }

    .notation .etoile {
        width: 20px;
        height: 20px;
    }

    .notation span {
        color: #273469;
        font-family: "Lora", serif;
        font-size: 18px;
        font-weight: bold;
    }

    .infoProd {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
    }

    .prix h2 {
        color: #273469;
        font-size: 32px;
        font-family: "Lora", serif;
        font-weight: bold;
        margin: 0;
    }

    .prix h3 {
        color: #000000;
        font-size: 12px;
        font-family: "Lora", serif;
        font-weight: bold;
        font-style: italic;
        margin: 0;
    }

    .prix h4 {
        color: #273469;
        font-size: 14px;
        font-family: "Open-sans", serif;
        margin: 0;
    }

    .infoProd button {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slider-wrapper {
        position: relative;
        height: 15px;
        width: 80%;
    }

    .values {
        display: flex;
        gap: 220px;
    }

    .slider-track {
        top: 10px;
        position: absolute;
        width: 100%;
        height: 15px;
        background: #ddd;
        border-radius: 16px;
    }

    .slider-range {
        top: 10px;
        position: absolute;
        height: 15px;
        background: #273469;
        border-radius: 16px;
    }

    input[type="range"] {
        top: 10px;
        position: absolute;
        width: 100%;
        background: transparent;
        -webkit-appearance: none;
        pointer-events: none;
        height: 15px;
        padding: 0;
        margin: 0;
    }

    input[type="range"]::-webkit-slider-thumb {
        pointer-events: all;
        -webkit-appearance: none;
        cursor: pointer;
        width: 20px;
        height: 20px;
        background: white;
        border-radius: 16px;
        border-width: 8px;
        border-style: solid;
        border-color: #273469;
    }

    input[type="range"]::-moz-range-thumb {
        pointer-events: all;
        cursor: pointer;
        width: 20px;
        height: 20px;
        background: white;
        border-radius: 16px;
        border-width: 4px;
        border-style: solid;
        border-color: #273469;
    }

    #minNoteLabel {
        margin-top: 1.5em;
    }

    .pagination {
        margin: 20px 0;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .pagination a{
        border: 2px solid black;
        text-decoration: none;
    }
}