@use "../colors" as *;
@use "../fonts" as *;

.cgucgv {
  main h1 {
    color: $color-blue;
    font-family: $font-lora;
    font-size: 38px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin: 50px 0px;
  }

  section {
    margin: 0px 80px;
  }

  h2 {
    font-family: $font-lora;
    font-size: 22px;
    font-weight: bold;
  }

  p {
    font-family: $font-open-sans;
    font-size: 16px;
  }

  @media (max-width: 1300px) {
    main h1 {
      font-size: 32px;
      margin: 20px 0px;
    }
    section {
      margin: 0px 40px;
    }
  }
}
